@use "../scss/varibles" as *;
@use "../scss/fonts" as *;

.subscribe {
  padding: 120px 0;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 1000px;
    margin-bottom: 50px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    color: $green;
  }

  &__field {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 732px;
    width: 100%;
    border: none;
  }

  &__input {
    border: 2px solid $purple;
    border-radius: 40px;
    padding: 16px 32px;
    width: 100%;
    background-color: transparent;

    &::placeholder {
      opacity: .4;
      color: $green;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $purple;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 13px 31px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: $light;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../img/lucide_arrow-up.svg");
    }
  }
}